<script>
	// @ts-nocheck

	import { supabase } from '$lib/supabaseClient';
	import { readable, get } from 'svelte/store';

	/**
	 * @type {unknown}
	 */
	export let id;
	/**
	 * @type {any}
	 */
	export let namech;
	/**
	 * @type {any}
	 */
	export let content;

	export let name;

	// @ts-ignore
	async function addComment({target}) {
      const formData = new FormData(target)
  
      const {data, error} = await supabase
        .from('comments')
        .insert({
          content: formData.get('comment'),
          name: formData.get('names'),
          channel: id
        })
        document.getElementById("comment").value = '';
    }

	const comments = readable(null, (set) => {
		supabase
			.from('comments')
			.select('*')
			.filter('channel', 'eq', id)
			// @ts-ignore
			.then(({ error, data }) => set(data));

		// add subscription to supabase logic
		const subscription = supabase
			.channel('comments:channel=eq.' + id)
			.on('postgres_changes', { event: '*', schema: '*' }, (payload) => {
				if (payload.eventType === 'INSERT') {
					// @ts-ignore
					set([...get(comments), payload.new]);
				}
			})
			.subscribe();
		return () => supabase.removeChannel(subscription);
	});
</script>

<!-- <article style="padding: 2rem;">
	<h3>{namech}</h3>
	<h4>comments</h4>
	{#if $comments}
		{#each $comments as { content }}
			<p>{content}</p>
		{:else}
			No comments yet!
		{/each}
	{:else}
		Loading..
	{/if}

	<form on:submit|preventDefault={addComment}>
		<input placeholder="comment" name="comment" />
		<input placeholder="Name" name="names" />
		<button>Add Comment</button>
	</form>
</article> -->

<div class="flex h-screen antialiased text-gray-800">
	<div class="flex flex-row h-full w-full overflow-x-hidden">
		<div class="flex flex-col py-8 pl-6 pr-2 w-64 bg-white flex-shrink-0">
			<div class="flex flex-row items-center justify-center h-12 w-full">
				<div
					class="flex items-center justify-center rounded-2xl text-bg-primary-focus bg-teal-500 h-10 w-10"
				>
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-boombox-fill" viewBox="0 0 16 16">
          <path d="M14 0a.5.5 0 0 1 .5.5V2h.5a1 1 0 0 1 1 1v2H0V3a1 1 0 0 1 1-1h12.5V.5A.5.5 0 0 1 14 0ZM2 3.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0Zm2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0Zm7.5.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm1.5-.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0ZM9.5 3h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1ZM6 10.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm-1.5.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm7 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm.5-1.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
          <path d="M0 6h16v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V6Zm2 4.5a2.5 2.5 0 1 0 5 0 2.5 2.5 0 0 0-5 0Zm7 0a2.5 2.5 0 1 0 5 0 2.5 2.5 0 0 0-5 0Z"/>
        </svg>
				</div>
				<div class="ml-2 font-bold text-2xl"><span class="text-black">Think</span><span class="text-teal-500">Cord.</span></div>
			</div>
      <div class="flex flex-col mt-8">
        <div class="flex flex-row items-center justify-between text-xs">
          <span class="font-bold">ThinkCord Channel</span>
         </div>
         </div>
			<div class="flex flex-col space-y-1 mt-4 -mx-2 h-48 overflow-y-auto">
				<button class="flex flex-row items-center hover:bg-teal-500 rounded-xl p-1">
					<div class="flex items-center justify-center h-8 w-8 bg-teal-500 rounded-full mr-3">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-boombox-fill" viewBox="0 0 16 16">
              <path d="M14 0a.5.5 0 0 1 .5.5V2h.5a1 1 0 0 1 1 1v2H0V3a1 1 0 0 1 1-1h12.5V.5A.5.5 0 0 1 14 0ZM2 3.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0Zm2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0Zm7.5.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm1.5-.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0ZM9.5 3h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1ZM6 10.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm-1.5.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm7 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm.5-1.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
              <path d="M0 6h16v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V6Zm2 4.5a2.5 2.5 0 1 0 5 0 2.5 2.5 0 0 0-5 0Zm7 0a2.5 2.5 0 1 0 5 0 2.5 2.5 0 0 0-5 0Z"/>
            </svg>
					</div>
					{namech}
				</button>
			</div>
      <div class="py-40">
        <a href="/">
    <button class="btn btn-primary py-50 w-full">Back</button>
    </a>
    </div>
		</div>
		<div class="flex flex-col flex-auto h-full p-6">
			<div class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-teal-500 h-full p-4">
				<div class="flex flex-col h-full overflow-x-auto mb-4">
					<div class="flex flex-col h-full">
						<div class="grid grid-cols-12 gap-y-2">
							{#if $comments}
								{#each $comments as contents}
									<div class="col-start-1 col-end-8 p-3 rounded-lg">
										<div class="flex flex-row items-center">
											<div
												class="flex items-center justify-center h-10 w-10 rounded-full bg-white flex-shrink-0"
											>
												<svg
													xmlns="http://www.w3.org/2000/svg"
													viewBox="0 0 20 20"
													fill="currentColor"
													class="w-5 h-5"
												>
													<path
														fill-rule="evenodd"
														d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-5.5-2.5a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zM10 12a5.99 5.99 0 00-4.793 2.39A6.483 6.483 0 0010 16.5a6.483 6.483 0 004.793-2.11A5.99 5.99 0 0010 12z"
														clip-rule="evenodd"
													/>
												</svg>
											</div>
											<div class="chat chat-start">
												<div class="chat-header">
													{contents.name}
													<time class="text-xs opacity-50"
														>{contents.created_at[11]}{contents.created_at[12]}:{contents
															.created_at[14]}{contents.created_at[15]}&nbsp;&nbsp;&nbsp;{contents
															.created_at[8]}{contents.created_at[9]}-{contents
															.created_at[5]}{contents.created_at[6]}-{contents
															.created_at[2]}{contents.created_at[3]}</time
													>
												</div>
												<div class="chat-bubble">{contents.content}</div>
											</div>
										</div>
									</div>
								{:else}
									No comments yet!
								{/each}
							{:else}
								Loading..
							{/if}
						</div>
					</div>
				</div>


        
				<form on:submit|preventDefault={addComment}>
					<div class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-4">
						<div class="pr-7">
							<input
								type="text"
								name="names"
								placeholder="Name"
								class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10"
							/>
						</div>
						<input
							type="text"
							name="comment"
              id="comment"
							placeholder="Type Your Message!"
							class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10"
						/>
						<div class="flex-grow ml-4">
							<div class="relative w-full" />
						</div>
						<div class="ml-4">
							<button
								class="flex items-center justify-center bg-primary hover:bg-accent-content rounded-xl text-white px-4 py-1 flex-shrink-0"
							>
								<span>Send</span>
								<span class="ml-2">
									<svg
										class="w-4 h-4 transform rotate-45 -mt-px"
										fill="none"
										stroke="currentColor"
										viewBox="0 0 24 24"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
										/>
									</svg>
								</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<footer class="footer items-center p-4 bg-teal-500 text-black -content">
  <div class="items-center grid-flow-col">
    <svg width="36" height="36" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" class="fill-current"><path d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z"></path></svg> 
    <p class="text-white">Copyright © 2022 - ThinkCord by Raka Rahadyandani</p>
  </div> 
  <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a href="https://www.instagram.com/rrhdynn/"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
      <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
    </svg>
    </a> 
    <a href="linkedin.com/in/rakarahadyandani/"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
      <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
    </svg></a>
    <a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
      <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
    </svg></a>
  </div>
</footer>